body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428);
  color: #c7c7c7;
}

h1 {
  color: #4caf50;
  text-align: center;
  padding: 20px;
  margin-top: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: calc(
    100vh - 120px
  ); /* Ajustar la altura de acuerdo a los márgenes y padding */
}

.left,
.right {
  width: 45%;
}

.left {
  display: flex;
  flex-direction: column;
}

.table-container {
  flex-grow: 1;
  overflow-y: auto; /* Añade scroll vertical si es necesario */
  max-height: 80vh; /* Limita la altura de la lista */
}

.no-estudiantes {
  width: 100%;
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 4px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  text-align: center;
  color: white;
}

/* Style for tutors */
.tutor {
  background-color: #f3901f; /* Orange color for tutors */
}

/* Style for regular students */
.student {
  background-color: green; /* Green color for other students */
}

.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.qr-code img {
  width: 500px; /* Aumentado desde 300px */
  height: 500px; /* Aumentado desde 300px */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.qr-code img:hover {
  transform: scale(1.05);
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428);
  z-index: -1;
}

#current-time {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  font-size: 40px; /* Increase this value for a larger font size */
  z-index: 1000;
}
