<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>SoC - Informática UAI</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div id="particles-js"></div>
    <h1>SoC - Informática UAI</h1>
    <div class="container">
      <a href="{{ url_for('login') }}" class="button"
        >Registrar Entrada/Salida</a
      >
      <a href="{{ url_for('records') }}" class="button">Ver Registros</a>
    </div>
    <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
    <script>
      particlesJS.load(
        "particles-js",
        "{{ url_for('static', filename='js/particles-config.json') }}",
        function () {
          console.log("particles.js config loaded");
        }
      );
    </script>
  </body>
</html>
