<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Security Lab - Informática UAI</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script>
      function fetchEstudiantes() {
        fetch("/estudiantes")
          .then((response) => response.json())
          .then((data) => {
            const estudiantesList = document.getElementById("estudiantes-list");
            estudiantesList.innerHTML = "";
            data.estudiantes.forEach((estudiante) => {
              const li = document.createElement("li");
              li.textContent = estudiante;
              estudiantesList.appendChild(li);
            });
          });
      }

      // Actualizar la lista de estudiantes cada 10 segundos
      setInterval(fetchEstudiantes, 10000);

      // Actualizar la lista de estudiantes cuando la página se carga
      window.onload = fetchEstudiantes;
    </script>
  </head>
  <body>
    <div id="particles-js"></div>
    <h1>Security Lab - Informática UAI</h1>
    <div class="container">
      <h2>Estudiantes en el Laboratorio</h2>
      <ul id="estudiantes-list">
        <!-- La lista de estudiantes se llenará aquí -->
      </ul>
      <div class="qr-code">
        <h3>Formulario de Entrada/Salida</h3>
        <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code" />
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
    <script>
      particlesJS.load(
        "particles-js",
        "{{ url_for('static', filename='js/particles-config.json') }}",
        function () {
          console.log("particles.js config loaded");
        }
      );
    </script>
  </body>
</html>
