<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Ver Registros - SoC UAI</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div id="particles-js"></div>
    <h1>Ver Registros</h1>
    <form action="/records" method="post">
      <label for="password">Contraseña:</label>
      <input type="password" name="password" id="password" required />
      <button type="submit">Mostrar Registros</button>
    </form>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
    <script>
      particlesJS.load(
        "particles-js",
        "{{ url_for('static', filename='js/particles-config.json') }}",
        function () {
          console.log("particles.js config loaded");
        }
      );
    </script>
  </body>
</html>
